# DynamoDB Tables
NOTIFICATIONS_TABLE='your_notifications_table_name'
TEMPLATES_TABLE='your_templates_table_name'
OUTBOX_TABLE='your_outbox_table_name'

# SQS Queues
NOTIFICATIONS_QUEUE_URL='your_notifications_queue_url'
WEBHOOKS_QUEUE_URL='your_webhooks_queue_url'

#
SES_SOURCE_EMAIL='email@example.com'
EMAIL_DEFAULT_PROVIDER='your_email_provider'
SMS_DEFAULT_PROVIDER='your_sms_provider'