AWS_REGION=us-east-1
NOTIFICATIONS_TABLE=notifier-hub-dev-notifications
NOTIFICATIONS_QUEUE_URL=https://sqs.us-east-1.amazonaws.com/123456789012/notifier-hub-dev-notifications
SES_SOURCE_EMAIL=notifications@yourdomain.com
EMAIL_DEFAULT_PROVIDER=ses
SMS_DEFAULT_PROVIDER=sns